#about-section{
    background-color: #FFE8D0;
}

ul {
    list-style: none;
}

#nav-bar {
    background-color: black;
}

.description {
    margin: 10rem auto;
}

#person {
    padding-block-start: 10rem;
}

#hidden-text {
    display: none;
}

#projects {
    margin: 10rem 0;
    background-color: tan;
}

.project-box:hover {
    box-shadow: .5rem .5rem .8rem black;
    background-color: white;
    border-radius: .5rem;
}

@media (max-width:425px) {
    #chai {
        display: block;
    }

    #nav-list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: large;
    }

    .nav-item {
        flex-basis: 100%;
        align-self: center;
    }

    #nav-icons {
        display: flex;
        justify-content: space-between;
    }  
    
    #projects {
        display: grid;
        grid-template-columns: 1;
    }
}